﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProjectIT15</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-yH6x4jAoPY1ftjTOZMX5AykK8Jw0hB23t12+nC05AfT7C1k6VEF7QyDOpJd7TBoZVE6A9UayPqqG+HvabNwz1g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyProjectIT15.styles.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

</head>
<body>
    @using Microsoft.AspNetCore.Identity
    @using MyProjectIT15.Models

    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white shadow-sm">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @* Role-Based Links *@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="navbar-brand" asp-area="" asp-controller="AdminPage" asp-action="Index">
                                        <img src="/logo/roomify logo.png" width="100" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminPage" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminPage" asp-action="room">Rooms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Meter" asp-action="Billings">Billings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Meter" asp-action="Meter">Meters</a>
                                </li>
                            }
                            else if (User.IsInRole("owner"))
                            {
                                <li class="nav-item">
                                    <a class="navbar-brand" asp-area="" asp-controller="AdminPage" asp-action="tenant">
                                        <img src="/logo/roomify logo.png" width="100" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminPage" asp-action="Owner">Owner Panel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminPage" asp-action="Rooms">Manage Rooms</a>
                                </li>
                            }
                            else if (User.IsInRole("tenant"))
                            {
                                <li class="nav-item">
                                    <a class="navbar-brand" asp-area="" asp-controller="AdminPage" asp-action="tenant">
                                        <img src="/logo/roomify logo.png" width="100" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminPage" asp-action="tenant">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Meter" asp-action="UserBillings">Bills</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="/logo/roomify logo.png" width="100" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="Home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="Privacy" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                            </li>
                        }
                    </ul>

                    <div class="me-5">
                        <partial name="_LoginPartial" />
                    </div>

                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


   

    @{
        var showSuccess = TempData["ShowSuccess"] as bool?;
        var successMessage = TempData["Success"] as string;

        var showError = TempData["ShowError"] as bool?;
        var errorMessage = TempData["Error"] as string;
    }
    @if (showSuccess == true && !string.IsNullOrEmpty(successMessage))
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="successToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                <div class="toast-header bg-success text-white">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @successMessage
                </div>
            </div>
        </div>
    }

    @if (showError == true && !string.IsNullOrEmpty(errorMessage))
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="errorToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                <div class="toast-header bg-danger text-white">
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @errorMessage
                </div>
            </div>
        </div>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>




<div id="loaderOverlay" style="display:none;">
    <div class="loader-wrapper">
        <div class="pulse-circle text-primary"></div>
        <div class="pulse-circle text-secondary"></div>
        <div class="pulse-circle text-success"></div>
        <div class="pulse-circle text-danger"></div>
        <div class="pulse-circle text-warning"></div>
        <div class="pulse-circle text-info"></div>
        <div class="pulse-circle text-dark"></div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navLinks = document.querySelectorAll('.nav-link');

        navLinks.forEach(link => {
            link.addEventListener('click', function (e) {
                const href = link.getAttribute("href");

                if (href && !href.startsWith("#") && !href.startsWith("javascript")) {
                    e.preventDefault();
                    document.getElementById('loaderOverlay').style.display = 'flex';
                    setTimeout(() => {
                        window.location.href = href;
                    }, 1000);
                }
            });
        });
    });
</script>

</html>

<style>
    #Home,
    #Privacy{
        color: black;
        text-align: right;
        /* Semi-bold/16px */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
    }

   
</style>