@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<div class="row" style="display:none;">
    <div class="col-md-4 mx-auto rounded border p-3">
        <section>
            <div class="d-flex justify-content-center">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/logo/roomify logo.png" width="200" />
                </a>
            </div>
                <h2 class="text-center mb-3">Login now</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form id="account" method="post">

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" placeholder="password" />

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <div class="row mb-3">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                    </div>
                </div>

                <div>
                    <a class="btn btn-link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>

                    @*   <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@
                </div>
            </form>
        </section>
    </div>

</div>


<div class="row">
    <div class="contents">
        <div class="top-texts">
            <h1>Utility Dorm</h1>
            <h2>Sign in to your account</h2>
            <p>Or <a class="link-createaccount" asp-area="Identity" asp-page="/Account/Register">create a new account</a></p>
        </div>
        <div class="texts-inputs">
            <h1>Email</h1>
            <input type="text" placeholder="Enter your email" id="email" />
            <h1>Password</h1>
            <input type="password" placeholder="Enter your password" id="password" />
            <div class="lower-texts">
                <label>
                    <input type="checkbox" name="subscribe" class="checkboxx" />
                    Remember me ?
                </label>
                <a class="link-forgotpassword">Forgot your password?</a>
            </div>
            <button id="signin-button">Sign In</button>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}