@model RoomMeterDto

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-4">Assign Room Meters</h2>

        <form method="post" asp-action="AssignMeter" asp-controller="Meter">
            <div class="mb-3">
                <label asp-for="RoomId" class="form-label"></label>
                <select asp-for="RoomId" asp-items="@(new SelectList(ViewBag.Rooms, "Id", "Room_Number"))" class="form-select">
                    <option value="" selected disabled>-- Select Room --</option>
                </select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MeterId" class="form-label"></label>
                <select asp-for="MeterId" asp-items="@(new SelectList(ViewBag.Meters, "Id", "Meter_Number"))" class="form-select">
                    <option value="" selected disabled>-- Select Meter --</option>
                </select>
                <span asp-validation-for="MeterId" class="text-danger"></span>
            </div>

            <div class="row mb-3" style="display:none">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Status" type="text" value="Active" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-6 d-grid">
                    <a asp-action="RoomMeter" asp-controller="Meter" class="btn btn-outline-primary">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
