@{
    ViewData["Title"] = "OCR Upload";
    var ocrText = ViewBag.OcrResult as string;
    var error = ViewBag.Error as string;
}

<div class="container my-3">
    <div class="row g-2">
        <div class="col-12 col-md-auto">
            <a asp-controller="Meter" asp-action="MeterReading" class="btn btn-primary w-100">
                Meter Reading
            </a>
        </div>
        <div class="col-12 col-md-auto">
            <a asp-controller="Meter" asp-action="Index" class="btn btn-secondary w-100">
                View Meters
            </a>
        </div>
    </div>
</div>






