body {
    background: linear-gradient(to bottom, #f0f2f5, #e3e6eb);
}


.header h1 {
    color: #1F1F21;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 68.571% */
}

.card-small {
    width: 300px;
    height: 200px;
    flex-shrink: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* subtle and modern */
    border-radius: 12px; /* optional, for smooth corners */
    border: none; /* remove default Bootstrap border */
}

.card-large {
    width: 455px;
    height: 460px;
    flex-shrink: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* subtle and modern */
    border-radius: 12px; /* optional, for smooth corners */
    border: none; /* remove default Bootstrap border */
}

#dataoverview-card {
    height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* subtle and modern */
    border-radius: 12px; /* optional, for smooth corners */
    border: none; /* remove default Bootstrap border */
}

#overallnewtenants-card {
    height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* subtle and modern */
    border-radius: 12px; /* optional, for smooth corners */
    border: none; /* remove default Bootstrap border */
}

.fw-medium {
    color: #1F1F21;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.fw-bold {
    color: #1F1F21;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.card-text-muted {
    color: #939393;
    font-family:Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.icon-img {
    width: 40px;
    height: 40px;
}