html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*overflow:hidden;*/
    background-color: #f8f9fa;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card-hover:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    }



.card-container {
   padding-bottom: 80px;
}

.card-background {
    width: 800px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 50px;
    background: url('/images/Frame 352.png') lightgray 100% / cover no-repeat;
}

#loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-wrapper {
    display: flex;
    gap: 10px;
}

.pulse-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: currentColor;
    animation: pulse 1s infinite ease-in-out;
}

    .pulse-circle:nth-child(1) {
        animation-delay: 0s;
    }

    .pulse-circle:nth-child(2) {
        animation-delay: 0.1s;
    }

    .pulse-circle:nth-child(3) {
        animation-delay: 0.2s;
    }

    .pulse-circle:nth-child(4) {
        animation-delay: 0.3s;
    }

    .pulse-circle:nth-child(5) {
        animation-delay: 0.4s;
    }

    .pulse-circle:nth-child(6) {
        animation-delay: 0.5s;
    }

    .pulse-circle:nth-child(7) {
        animation-delay: 0.6s;
    }

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.8);
        opacity: 1;
    }
}
