
html, body {
    height: 100%;
    overflow-y: auto;
    background: white;
}


#header  {
    color: #1F1F21;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 68.571% */
}

.text-muted {
    margin-top: 20px;
    color: #939393;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}


#total-amount {
    color: #1F1F21;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 48% */
}

#billingtext h5 {
    color: #1F1F21;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    margin-bottom:10px;
}

#due-date,
#billing-period {
    color: #939393;
    font-family:Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 141.176% */
}

#payment-card1 {
    border-radius: 10px;
    border: 1px solid #225FFB;
    background: #F8F8F8;
}

#paymentcard1-text1 {
    color: #1F1F21;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}