
html, body {
    height: 100%;
    overflow-y: auto;

}

.card-placeholder {
    border: 2px solid #000;
    background-color: #ffff;
    border-radius: 2px;
    height: 200px;
}

.card-lg {
    height: 300px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.section-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.header-controls input {
    min-width: 160px;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.header h1 {
    color: #1F1F21;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 68.571% */
}

.text-muted{
    margin-top:20px;
    color: #939393;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}

#box1,
#box2,
#box3 {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
}

#big-box {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    border:none;
}


.usage-card {
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usage-value {
    font-size: 2.5rem;
    font-weight: bold;
}

.usage-label {
    font-size: 1.2rem;
    color: #555;
}

.usage-comparison {
    font-size: 0.9rem;
    color: #28a745; /* Green for positive, use #dc3545 for negative */
}